<div class="mat-elevation-z4">
    <table mat-table [dataSource]="order_list">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>

        <!-- OrderDate Column -->
        <ng-container matColumnDef="orderDate">
            <th mat-header-cell *matHeaderCellDef>Data do Pedido</th>
            <td mat-cell *matCellDef="let row">{{row.orderDate | date}}</td>
        </ng-container>

        <!-- ApprovedDate Column -->
        <ng-container matColumnDef="approvedDate">
            <th mat-header-cell *matHeaderCellDef>Data Aprovado</th>
            <td mat-cell *matCellDef="let row">{{row.approvedDate | date}}</td>
        </ng-container>

        <!-- TotalPrice Column -->
        <ng-container matColumnDef="totalPrice">
            <th mat-header-cell *matHeaderCellDef>Total do Pedido</th>
            <td mat-cell *matCellDef="let row">{{row.totalPrice | currency: 'BRL'}}</td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let row">
                <a routerLink="/orderForm/update/{{ row.id }}" class="edit">
                    <i class="material-icons">edit</i>
                </a>
                <a routerLink="/orderForm/delete/{{ row.id }}" class="delete">
                    <i class="material-icons">delete</i>
                </a>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>