.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: none;
    text-decoration: none;
}

.header .logo {
    max-height: 80px;
}

.header .title-group {
    padding-left: 15px;
}

.header .title-group i {
    padding-right: 10px;
}