<mat-card>
    <mat-card-title>Editar Pedido</mat-card-title>
    <mat-tab-group>
        <!-- Aba Dados -->
        <mat-tab label="Dados">
            <form>
                <mat-form-field>
                    <mat-select placeholder="Cliente" [(value)]="order.customer">
                        <mat-option *ngFor="let item_customer of list_customer" [value]="item_customer">{{ item_customer.id }} - {{ item_customer.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Status" [(value)]="order.status">
                        <mat-option *ngFor="let item_status of list_status" [value]="item_status">{{ item_status.id }} - {{ item_status.description }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Data do Pedido" [(ngModel)]="order.orderDate" name="orderDate" type="datetime-local">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Desconto" [(ngModel)]="order.discount" name="discount" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Total do Pedido" [(ngModel)]="order.totalPrice" name="totalPrice" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
                </mat-form-field>
            </form>
        </mat-tab>

        <!-- Aba Itens -->
        <mat-tab label="Itens">
            <form>
                <div class="form-fields" *ngIf="!disableItems">
                    <mat-form-field>
                        <mat-select placeholder="Produto" [(value)]="item_items.product">
                            <mat-option *ngFor="let item_product of list_product" [value]="item_product">{{ item_product.id }} - {{ item_product.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Quantidade" [(ngModel)]="item_items.quantity" name="quantity" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Preço da unidade" [(ngModel)]="item_items.unitPrice" name="unitPrice" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Desconto" [(ngModel)]="item_items.discount" name="discount" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Total do Item" [(ngModel)]="item_items.totalPrice" name="totalPrice" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
                    </mat-form-field>
                </div>

                <div class="group inline-flex items-center mt-2 -ml-4 py-2 px-4 rounded cursor-pointer">
                    <button mat-stroked-button color="secondary" (click)="newItems()" *ngIf="disableItems"><i class="material-icons">add</i>
                        Novo
                    </button>
                    <button mat-raised-button (click)="saveItems()" color="primary" *ngIf="!disableItems">
                        Salvar
                    </button>
                    <button mat-raised-button (click)="cancelItems()" color="" *ngIf="!disableItems">
                        Cancelar
                    </button>
                </div>

                <table mat-table [dataSource]="dataSourceItems">
                    <!-- Product Column -->
                    <ng-container matColumnDef="product">
                        <th mat-header-cell *matHeaderCellDef>Produto</th>
                        <td mat-cell *matCellDef="let row">{{ row.product.id }} - {{ row.product.name }}</td>
                    </ng-container>

                    <!-- Quantity Column -->
                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef>Quantidade</th>
                        <td mat-cell *matCellDef="let row">{{ row.quantity }}</td>
                    </ng-container>

                    <!-- UnitPrice Column -->
                    <ng-container matColumnDef="unitPrice">
                        <th mat-header-cell *matHeaderCellDef>Preço da unidade</th>
                        <td mat-cell *matCellDef="let row">{{ row.unitPrice | currency: 'BRL'}}</td>
                    </ng-container>

                    <!-- Discount Column -->
                    <ng-container matColumnDef="discount">
                        <th mat-header-cell *matHeaderCellDef>Desconto</th>
                        <td mat-cell *matCellDef="let row">{{ row.discount | currency: 'BRL'}}</td>
                    </ng-container>

                    <!-- TotalPrice Column -->
                    <ng-container matColumnDef="totalPrice">
                        <th mat-header-cell *matHeaderCellDef>Total do Item</th>
                        <td mat-cell *matCellDef="let row">{{ row.totalPrice | currency: 'BRL'}}</td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>Ações</th>
                        <td mat-cell *matCellDef="let row">
                            <a (click)="editItems(row)" [routerLink]="" class="edit">
                                <i class="material-icons">edit</i>
                            </a>
                            <a (click)="deleteItems(row)" [routerLink]="" class="delete">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsItems"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsItems;"></tr>
                </table>
            </form>
        </mat-tab>

    </mat-tab-group>
    <button mat-raised-button (click)="updateOrder()" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="cancel()" color="">
        Cancelar
    </button>
</mat-card>