<mat-card>
    <mat-card-title>Incluir Pessoa</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="person.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Sobrenome" [(ngModel)]="person.lastName" name="lastName">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Idade" [(ngModel)]="person.age" name="age">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Endereço de email" [(ngModel)]="person.emailAddress" name="emailAddress">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Altura" [(ngModel)]="person.height" name="height">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="createPerson()" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="cancel()" color="">
        Cancelar
    </button>
</mat-card>