<mat-card>
    <mat-card-title>Editar Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="produto.nome" name="nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [(ngModel)]="produto.preco" name="preco" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="updateProduto()" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="cancel()" color="">
        Cancelar
    </button>
</mat-card>