<mat-card>
    <mat-card-title>Excluir Pessoa</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [value]="person.name" name="name" disabled/>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Sobrenome" [value]="person.lastName" name="lastName" disabled/>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Idade" [value]="person.age" name="age" disabled/>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Endereço de email" [value]="person.emailAddress" name="emailAddress" disabled/>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Altura" [value]="person.height" name="height" disabled/>
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="deletePerson()" color="warn">
        Excluir
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>