<mat-card>
    <mat-card-title>Excluir Pedido</mat-card-title>
    <mat-tab-group>
        <!-- Aba Dados -->
        <mat-tab label="Dados">
            <form>
                <mat-form-field>
                    <mat-select placeholder="Cliente" [(value)]="order.customer" disabled>
                        <mat-option *ngFor="let item_customer of list_customer" [value]="item_customer">{{
                            item_customer.id }} - {{ item_customer.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Status" [(value)]="order.status" disabled>
                        <mat-option *ngFor="let item_status of list_status" [value]="item_status">{{ item_status.id }} -
                            {{ item_status.description }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Data do Pedido" [(ngModel)]="order.orderDate" name="orderDate"
                        type="datetime-local" disabled>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Desconto" [value]="order.discount" name="discount" disabled />
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Total do Pedido" [value]="order.totalPrice" name="totalPrice"
                        disabled />
                </mat-form-field>
            </form>
        </mat-tab>

        <!-- Aba Itens -->
        <mat-tab label="Itens">
            <form>
                <table mat-table [dataSource]="dataSourceItems">
                    <!-- Product Column -->
                    <ng-container matColumnDef="Product">
                        <th mat-header-cell *matHeaderCellDef>Produto</th>
                        <td mat-cell *matCellDef="let row">{{ row.product.id }} - {{ row.product.name }}</td>
                    </ng-container>

                    <!-- Quantity Column -->
                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef>Quantidade</th>
                        <td mat-cell *matCellDef="let row">{{ row.quantity }}</td>
                    </ng-container>

                    <!-- TotalPrice Column -->
                    <ng-container matColumnDef="unitPrice">
                        <th mat-header-cell *matHeaderCellDef>Preço da unidade</th>
                        <td mat-cell *matCellDef="let row">{{row.unitPrice | currency: 'BRL'}}</td>
                    </ng-container>

                    <!-- Discount Column -->
                    <ng-container matColumnDef="discount">
                        <th mat-header-cell *matHeaderCellDef>Desconto</th>
                        <td mat-cell *matCellDef="let row">{{row.discount | currency: 'BRL'}}</td>
                    </ng-container>

                    <!-- TotalPrice Column -->
                    <ng-container matColumnDef="totalPrice">
                        <th mat-header-cell *matHeaderCellDef>Total do Item</th>
                        <td mat-cell *matCellDef="let row">{{row.totalPrice | currency: 'BRL'}}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsItems"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsItems;"></tr>
                </table>
            </form>
        </mat-tab>
    </mat-tab-group>

    <button mat-raised-button (click)="deleteOrder()" color="warn">
        Excluir
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>