<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a mat-list-item routerLink="/productForm">
                <i class="material-icons">
                    storefront
                </i>
                Cadastro de Produtos
            </a>
            <a mat-list-item routerLink="/orderForm">
                <i class="material-icons">
                    shopping_cart
                </i>
                Cadastro de Pedido
            </a>
            <a mat-list-item routerLink="/orderStatusForm">
                <i class="material-icons">
                    style
                </i>
                Cadastro de Status de Pedido
            </a>
            <a mat-list-item routerLink="/personForm">
                <i class="material-icons">
                    accessibility
                </i>
                Cadastro de Pessoas
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>