<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a mat-list-item routerLink="/pedidoForm">
                <i class="material-icons">
                    storefront
                </i>
                Cad. de Pedidos de Patente
            </a>
            <a mat-list-item routerLink="/informacaoForm">
                <i class="material-icons">
                    storefront
                </i>
                Informações da Invenção
            </a>
            <a mat-list-item routerLink="/setorForm">
                <i class="material-icons">
                    storefront
                </i>
                Setor econômico
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>